<div style="background-color:blanchedalmond">
<h1 style="color:blue"> {{name}}, please link below and set new password </h1>
<a href="http://{{tokenForgotPassword}}"></a>
    <p style="font-size:medium">Have a nice day!</p>
</div>